:root {
  --c--primary: #26CC8F;
  --c--navy: #18252D;
  --c--white: #FFF;
  --c--ghost: #F5F7FA;
  --c--steel: #727A81;
  --c--black: #323232;
  --c-brand--pcln: #007AFF;
  --c-brand--tntr: #F46420;
  --c-brand--stmp: #30CFD0;
}
