:root {
  --base-font-family: 'Public Sans', 'system-ui', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  --base-font-weight: 400;
  --base-font-size: 1.04vw;
  --base-line-height: 1.52;
  --font-weight--normal: 400;
  --font-weight--bold: 700;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../../fonts/PublicSans-Regular.woff2') format('woff2'),
       url('../../fonts/PublicSans-Regular.woff') format('woff'),
       url('../../fonts/PublicSans-Regular.ttf') format('truetype');
       font-weight: 400;
       font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../../fonts/PublicSans-Bold.woff2') format('woff2'),
       url('../../fonts/PublicSans-Bold.woff') format('woff'),
       url('../../fonts/PublicSans-Bold.ttf') format('truetype');
       font-weight: 700;
       font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

h1,
h2,
h3,
h4 {
  position: relative;
}

h1::after,
h2::after,
h3::after,
h4::after {
  bottom: 0;
  right: 0;
  content: ".";
  color: var(--c--primary)
}

h1,
h2,
h3,
h4,
a {
  font-weight: var(--font-weight--bold, bold);
}

h1 {
  font-size: 8em;
  line-height: 1.0;
  letter-spacing: -0.032em;
  margin-bottom: 0.48em;
}

h2 {
  font-size: 6.4em;
  letter-spacing: -0.032em;
}

h3 {
  font-size: 4.8em;
  letter-spacing: -0.044em;
}

h4 {
  font-size: 2.4em;
  line-height: 1.6;
  letter-spacing: -0.04rem;
}

h4.thats-me::after {
  content: none!important;
}

p {
  font-size: 1.4em;
  letter-spacing: -0.008em;
}

.opener p {
  font-size: 3.2em;
}

p + p {
  margin-top: 1em;
}
