$global-multiple: 8;
$global-transition: all 0.08s ease-in-out 0s;
$image-path: './../img/';
$svg-path: './../img/svg/';

//$c--primary: #6C7A88; // gray
//$c--primary: #0099FF;  // blue
//$c--primary: #F05023;  // red
$c--primary: #26CC8F;  // green
$c--primary-link:#323232;
$c--dk-primary: darken($c--primary, 16%);
$c--dk-gray: #323232;
$c--md-gray: #646464;
$c--lt-gray: #969696;
$c--white: white;
$c--black: black;

$base-line-height: 1.6;
$base-font-size: 1.6rem;
$base-font-family: 'Aktiv-Grotesk', 'system-ui', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
$t--bold: 700;
$t--regular: 400;
