$base-font-family: 'Public Sans', 'system-ui', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
$base-font-weight: 400;
$base-font-size: 1.6rem;
$base-line-height: 1.36;
$font-weight--normal: $base-font-weight;
$font-weight--medium: 500;
$font-weight--bold: 700;

$color--primary: #26CC8F;
$color--navy: #18252D;
$color--white: #FFF;
$color--ghost: #F5F7FA;
$color--gray: #DCDCE0;
