.footer {
  display: flex;
  padding: ($global-multiple * 12rem) / 10;
  font-size: 1.6rem;
  background-color: $c--primary;
  color: $c--dk-primary;

  @media screen and (max-width: 1023px) {
    padding: 10%;
  }

  @media screen and (max-width: 479px) {
    padding: (($global-multiple * 4rem) / 10) (($global-multiple * 2rem) / 10) (($global-multiple * 4rem) / 10);
    margin-top: 8rem;
    border-bottom: 0.4rem solid $c--dk-primary;
  }
}
