/* LAYOUT -- master */
.container {
  display: flex;
}

.header {
  padding-top: calc($global-multiple * 15px);
  padding-bottom: calc($global-multiple * 10px);

  h1 {
    color: red;
  }
}

.content {
}

.more-info {
}

.footer {
}
