header,
nav,
section,
aside,
article,
footer {
  display: inherit;
}

.container {
  display: grid;
  max-width: 192rem;
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }
}

.lefty,
.righty {
  padding-top: ($global-multiple * 6rem) / 10;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  flex: 1;
  //@include clearfix;

  &__content {
    height: 100%;
    padding: ($global-multiple * 12rem) / 10;

    @media screen and (max-width: 1023px) {
      padding: 10%;
    }

    @media screen and (max-width: 479px) {
      padding: (($global-multiple * 12rem) / 10) (($global-multiple * 2rem) / 10) (($global-multiple * 6rem) / 10);
    }
  }
}

.lefty {
  height: auto;
  position: static;
  justify-content: stretch;

  @media screen and (max-width: 1023px) {
    padding-top: ($global-multiple * 1rem) / 10;
  }

  &__container {
    left: 0;

    @media screen and (min-width: 1024px) {
      height: calc(100vh);
      position: sticky;
      top: 0;
    }
  }
}

.righty {

  @media screen and (max-width: 1023px) {
    padding-top: ($global-multiple * 1rem) / 10;
  }

  &__container {
    right: 0;
    position: relative;
  }
}

@import "_footer";
