/* LAYOUT -- master */
:root {
}

.container {
  display: flex;
}

.header {
  padding-top: calc(var(--global-multiple) * 15px);
  padding-bottom: calc(var(--global-multiple) * 10px);

  @nest .h1 {
    color: red;
  }
}

.content {
}

.more-info {
}

.footer {
}
