@mixin grid__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin: auto;

  @include media(">lg") {
    max-width: rem(1280px);
    padding-left: rem(40px);
    padding-right: rem(40px);
  }

  @include media("<=lg") {
    max-width: rem(960px);
    padding-left: rem(32px);
    padding-right: rem(32px);
  }

  @include media("<=md") {
    max-width: none;
    padding-left: rem(24px);
    padding-right: rem(24px);
  }

  @include media("<=sm") {
    padding-left: rem(16px);
    padding-right: rem(16px);
  }
}

@mixin grid__repeated-cols($min-size, $max-size, $gap-size) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min-size, $max-size));
  grid-gap: rem($gap-size);
}
