@mixin g-row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  //flex-wrap: wrap;
}

@mixin g-col($fraction) {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100% * $fraction;
  max-width: 100% * $fraction;
}
