.home {
  background: white;

  header {
    background: $primary;

    h1,
    h2,
    h4 {
      color: white;
    }

    h1 {
      margin-bottom: 1.6rem;
    }

    h2 {
      margin-bottom: 2.4rem;
    }
  }
}
