.righty {

  h2 {
    color: $c--primary;
  }

  &__content {
    background-color: $c--white;
  }

  h1 {
    color: $c--primary;
  }

  .opener {

    h1 {
      margin-bottom: 2.4rem;
    }

    a {
      color: $c--primary-link;
      position: relative;

      @include strikethrough(pointer, $c--primary-link);
    }
  }

  .side-projects,
  .experience,
  .misc-stuff {
    margin-top: 8rem;

    h2 {
      margin-bottom: 2.4rem;
    }
  }

  .side {

    &-projects {
      margin-top: 8rem;

      h2 {
        margin-bottom: 2.4rem;
      }

      &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media screen and (max-width: 479px) {
          grid-template-columns: 1fr;
        }

        > li {
          width: 100%;
          margin-top: 0;

          @media screen and (max-width: 479px) {
            &:nth-child(n+2) {
              margin-top: 2.4rem;
            }
          }

          &:nth-child(n+3) {
            margin-top: 3.2rem;
          }
        }
      }
    }

    &-project {
      text-align: left;

      &:nth-child(even) {
        padding-left: 1.6rem;
      }

      &:nth-child(odd) {
        padding-right: 1.6rem;
      }

      @media screen and (max-width: 479px) {
        &:nth-child(n) {
          padding: 0;
        }
      }

      h1 {
        color: $c--dk-gray;
      }

      h3 {
        position: relative;
        display: inline-block;
        color: $c--dk-gray;
        margin-top: 1.2rem;

        @include strikethrough(pointer, $c--dk-gray);
      }

      p {
        color: $c--md-gray;
        font-weight: $t--regular;
        margin-top: 0.4rem;
        margin-bottom: 0;
      }
    }
  }

  .experience {

    &--listing {
      margin-bottom: 2.4rem;

      div {
        margin-top: 0.4rem;

        + div {
          margin-top: 0.4rem;
        }
      }

      a,
      h3 {
        font-weight: $t--bold;
        color: $c--dk-gray;

        h3 {
          display: inline-block;
          position: relative;

          @include strikethrough(pointer, $c--dk-gray);
        }
      }

      span {
        font-size: 1.6rem;
        line-height: 1.6;

        &:first-of-type {
          margin-top: 0.8rem;
          color: $c--md-gray;

          @media only screen and (max-width: 479px) {
            display: block;
          }

          + span {
            padding: 0 0.4rem;
            color: $c--primary;

            @media only screen and (max-width: 479px) {
              display: none;
            }
          }
        }

        &:last-of-type {
          color: $c--lt-gray;
        }
      }
    }
  }

  .misc-stuff {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 479px) {
      grid-template-columns: 1fr;

      article {
        &:last-child {
          margin-top: 4rem;
        }
      }
    }

    article {
      display: block;

      &:nth-child(even) {
        padding-left: 1.6rem;
      }

      &:nth-child(odd) {
        padding-right: 1.6rem;
      }

      @media screen and (max-width: 479px) {
        &:nth-child(n) {
          padding: 0;
        }
      }
    }

    div {
      display: block;
      vertical-align: top;
      font-size: 1.6rem;
    }

    a {
      position: relative;
      color: $c--dk-gray;

      @include strikethrough(pointer, $c--dk-gray);
    }
  }
}
