:root {
  --dodger: #0099FF;
  --navy: #18252D;
  --white: #FFF;
  --ghost: #FAFAFF;
  --steel: #727A81;
  --black: #323232;
  --brand--pcln: #007AFF;
  --brand--tntr: #F46420;
  --brand--stmp: #30CFD0;
}
