:root {
  --c--dodger: #0099FF;
  --c--navy: #18252D;
  --c--white: #FFF;
  --c--ghost: #FAFAFF;
  --c--steel: #727A81;
  --c--black: #323232;
  --brand--pcln: #007AFF;
  --brand--tntr: #F46420;
  --brand--stmp: #30CFD0;
}
