a {
  color: var(--c--primary);
  fill: currentColor;   /* for the svg */
  text-decoration: none;
  height: auto;
}

a:hover {
  text-decoration: none;
}

p a {
	position: relative;
	outline: none;
}

p a:hover,
p a:focus {
	outline: none;
}

p a::after {
	position: absolute;
  bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	background: var(--c--primary);
	content: '';
	opacity: 0;
	transition: ease height 0.08s,
              ease opacity 0.08s;
	transform:  translateY(-0.04rem);
}
p a:hover::after,
p a:focus::after {
	height: 0.24em;
	opacity: 1;
	transform: translateY(-0.4em);
}
