/* GLOBAL -- colors */
:root {
  --primary: #363636;
  --darkest-gray: #505050;
  --dark-gray: #6C7A88;
  --medium-gray: #B4B7C2;
  --light-gray: #DCDCE0;
}

.txt--primary {
  color: var(--primary);
}

.txt--darkest-gray {
  color: var(--darkest-gray);
}

.txt--dark-gray {
  color: var(--dark-gray);
}

.txt--medium-gray {
  color: var(--medium-gray);
}

.txt--light-gray {
  color: var(--light-gray);
}

.txt--white{
  color: white;
}
