/* GLOBAL -- colors */
$primary: #363636;
$darkest-gray: #505050;
$dark-gray: #6C7A88;
$medium-gray: #B4B7C2;
$light-gray: #DCDCE0;

.txt--primary {
  color: $primary;
}

.txt--darkest-gray {
  color: $darkest-gray;
}

.txt--dark-gray {
  color: $dark-gray;
}

.txt--medium-gray {
  color: $medium-gray;
}

.txt--light-gray {
  color: $light-gray;
}

.txt--white{
  color: white;
}
