/* GLOBAL -- typography */
$default-line-height: 1.44;
$base-font-family: 'Aktiv-Grotesk', 'system-ui', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
$txt-xbold: 800;
$txt-bold: 700;
$txt-medium: 500;
$txt-regular: 400;

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

h1 {
  font-size: 82px;
  font-weight: $txt-bold;
}

h2 {
  font-weight: $txt-medium;
}

h3 {
  font-weight: $txt-bold;
}
