/* GLOBAL -- typography */
:root {
  --default-line-height: 1.1;
  --base-font-family: 'Aktiv-Grotesk', 'system-ui', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  --txt-xbold: 800;
  --txt-bold: 700;
  --txt-medium: 500;
  --txt-regular: 400;
}

h1 {
  font-weight: var(--txt-bold);
}

h2 {
  font-weight: var(--txt-medium);
}

h3 {
  font-weight: var(--txt-bold);
}
