/* GLOBAL -- typography */
$default-line-height: 1.4;
$base-font-family: 'Aktiv-Grotesk', 'system-ui', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
$txt-xbold: 800;
$txt-bold: 700;
$txt-medium: 500;
$txt-regular: 400;

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

h1 {
  font-size: 8.2rem;
  font-weight: $txt-bold;
  line-height: 1.1;
  letter-spacing: -0.32rem;
}

h2 {
  font-size: 4.8rem;
  font-weight: $txt-medium;
  line-height: 1.24;
  letter-spacing: -0.16rem;
}

h3 {
  font-size: 3.2rem;
  font-weight: $txt-bold;
  line-height: 1.1;
  letter-spacing: -0.12rem;
}

h4 {
  font-size: 2.4rem;
  font-weight: $txt-regular;
  line-height: 1.24;
  letter-spacing: -0.08rem;
}

h5 {
  font-size: 1.2rem;
  font-weight: $txt-regular;
  line-height: 1.0;
  letter-spacing: -0.024rem;
}

p {
  font-size: 1.8rem;
  line-height: 1.8;
  hyphens: none;
}
