a {
  text-decoration: none;
  background-color: none;
  color: default;
  cursor: pointer;
  @include transition(all, 0.5s, ease-in-out);

  &:active,
  &:focus {
    outline: 0;
  }

  &:visited {
    color: default;
  }
}
