* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 62.5%;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $c--md-gray;

  @media screen and (max-width: 479px) {
    font-size: $base-font-size * 0.8;
    line-height: $base-line-height * 0.8;
  }
}
