* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 100%;

  @include media("<=lg") {
    font-size: 90%;
  }

  @include media("<=md") {
    font-size: 80%;
  }

  @include media("<=sm") {
    font-size: 70%;
  }
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  background-color: var(--theme-background-color);
  color: var(--theme-font-color);
}
