h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  position: relative;
}

h1 {
  font-size: rem(64px);
  line-height: rem(80px);
  letter-spacing: -0.08rem;
  font-weight: $txt-w--bold;

  &::after {
    content: ".";
    bottom: 0;
    right: 0;
    color: var(--theme-accent-color);
  }
}

h2 {
  font-size: 2.1rem;
  line-height: 1.24;
  letter-spacing: -0.08rem;
  font-weight: $txt-w--bold;
}

h3 {
  font-size: 1.6rem;
  line-height: 1.1;
  letter-spacing: -0.02rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
  hyphens: none;
  margin-bottom: 1.6rem;
}

a {
  font-weight: $txt-w--bold;
}
