h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  position: relative;
}

.heading {

  @at-root #{&}-- {

    &xxl {
      @include text-style(heading--xxl);
      @include text-accent;
    }

    &xl {
      @include text-style(heading--xl);
      @include text-accent;
    }

    &lg {
      @include text-style(heading--lg);
    }

    &md {
      @include text-style(heading--md);
    }

    &sm {
      @include text-style(heading--sm);
    }

    &xs {
      @include text-style(heading--xs);
    }
  }
}

#home h1 {
  font-size: rem(72px);
  line-height: rem(84px);
}

h2 {
  font-size: 2.1rem;
  line-height: 1.24;
  letter-spacing: -0.08rem;
  font-weight: $txt-w--bold;
}

h3 {
  font-size: 1.6rem;
  line-height: 1.1;
  letter-spacing: -0.02rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
  hyphens: none;
  margin-bottom: 1.6rem;
}

a {
  font-weight: $txt-w--bold;
}
