/* GLOBAL -- master */
@import "-reset";
@import "-settings";
@import "-typography";
@import "-colors";

body {
  font-family: $base-font-family;
  line-height: $default-line-height;
  color: $darkest-gray;
}
